.App {
  width: 60%;
  margin:0 auto;
  height: 95vh;
  margin-top: 5vh;
  background-color: red;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  display: flex;
}

.conteiner__list-contact{
  width: 35%;
  height: 100%;
  background-color: rgb(50, 44, 44);
}

.conteiner__item-contact{
  display: flex;
  align-items: center;
  color: white;
  border-bottom: 1px solid rgba(250, 255, 146, 0.47);;
}

.material-symbols-outlined{
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: blueviolet;
  color:rgb(250, 255, 146);
  font-size: 40px;
  padding: 5px 0;
  box-sizing: border-box;
  margin: 10px 30px;
}

.conteiner__body-chat{
  width: 65%;
  height: 100%;
  background-color: snow;
}

.conteiner__body-messages{
  padding: 0 10px;
}

.header__body-char{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(73, 73, 73);
}

.title__header-body-chat{
  font-weight: 700;
}

.info__header-body-chat{
  color:rgba(0, 0, 0, 0.5);
  font-weight: 300;
}

.conteiner__other-message, .conteiner__my-message,
.header__other-message, .header__my-message{
  width: 100%;
  height: auto;
}

.header__other-message, .header__my-message{
  font-size: 8px;
}

.header__other-message{
  text-align: left;
}

.header__my-message{
  text-align: right;
}

.name-my-message, .name-other-message{
  margin: 0 5px;
  font-weight: 500;
  position: relative;
}

.name-my-message::after{
  content: " ";
  position: absolute;
  transform: translate(5px, 3.5px);
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: aquamarine;
}

.name-other-message::before{
  content: " ";
  position: absolute;
  transform: translate(-7px, 3.5px);
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: greenyellow;
}
.time-my-message, .time-other-message{
  font-weight: 300;
  opacity: 0.9;
}

.body__other-message, .body__my-message{
  font-size: 10px;
  max-width: 60%;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}

.body__other-message{
  background-color: greenyellow;
}

.body__my-message{
  margin-left: auto;
  background-color: aquamarine;
  right: 0;
}

.conteiner__typing{
  padding: 0;
  margin: 0;
}

@keyframes ghost {
  to{
    opacity: 100%;
  }
  from{
    opacity: 5%;
  }
  
}
.conteiner__typing > *{
  animation-duration: 1s;
  animation-name: ghost;
  animation-iteration-count: infinite;
}

.conteiner__typing > *:first-child{
  animation-delay: 0s;
}

.conteiner__typing > *:last-child{
  animation-delay: 0.7s;
}


.loader-block{
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: greenyellow;
  list-style-type: none;
  display: inline-block;
  margin: 0 3px;
}